body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color:#2F4858;
}


.top-bar a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.navbar-brand img {
  height: 3rem;
}
.navbar {
  font-size: 1.05rem;
  font-weight: 600;
  letter-spacing: .1rem;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
  z-index: 1;
}
.nav-item{
  padding: .5rem;
}

.nav-link {
  color: #2F4858
  !important;
}

.nav-link.active,
.nav-link:hover {
  color :#ff880e !important;
}

#carousel {
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
  transition: transform .1.2s ease;
}


.carousel-caption{
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  text-transform: uppercase;
}

.bg-custom{
  background-color: rgba(0, 0, 0,.4);
  color: white;
  border-radius: 1rem;
}

.carousel-caption h1{
  font-size: 2.8rem;
  text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
}
.carousel-caption h3{
  font-size: 1.2rem;
  text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
}

.border-primary{
  border-top: .2rem solid #ff880e !important;
}
.btn-warning{
  background-color: #ff880e;
  font-weight: 600;
}
.btn-warning:hover{
  background-color: #ff880e;
  opacity: 80%;
}

.inner-img{
  font-size: 1.2rem;
  text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
}

.fixed{
  background-image: url('/img/b1.jpg');
  position: fixed;
}

.fixed-background{
  padding: 10rem 0;
}

.layout_padding {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.color-text{
  color:#ff880e !important;
}

tr:hover {
  background-color: #f5f5f5;
  text-shadow: grey;
}

.sortable thead tr th{
  cursor: pointer;
}


.sortable .th-sort-asc::after{
  content:"\25b4";
}

.sortable .th-sort-desc::after{
  content:"\25be";
}

.sortable .th-sort-asc::after,
.sortable .th-sort-desc::after{
  margin-left: 5px;
}

.sortable .th-sort-asc,
.sortable .th-sort-desc{
  background: rgba(0, 0, 0, 0.1);
}

.logo-box{
  height: 24px;
  width: 24px;
  border-radius: 12px;
}

.cTop{
  margin: 1rem;
  text-transform: bold;
}

.cHead{
  font-size: 2.0rem;
  border-radius: 30px !important;
}

.cBody{
  font-size: 1.5rem;
}

#cBtn{
  text-transform: uppercase;
  margin-top: 20px;
}

footer{
  background-color: #383838;
  padding: 1rem 2rem 3rem;
}

footer img{
  height: 3.5rem;
  margin:1.5rem auto;
}

ul.social{
  list-style-type: none;
  display:flex;
  max-width: 16rem;
  margin:0 auto;
}

ul.social li{
  margin: 0 auto;
  font-size: 1.5rem;
}

ul.social li a{
  color: white;
}

ul.social li a:hover{
  opacity: 50%;
}

.fixed-background h1{
  font-size: 2.8rem;
  text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
  
}
.fixed-background h3{
  font-size: 1.2rem;
  text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
}
.fixed-background{
  text-transform: uppercase;
}

.btn-info-about{
  width: 150px;
  height: 45px;
  float: left;
  text-align: center;
  line-height: 45px;
  border: solid #ff880e 1px;
  font-size: 15px;
  margin-top: 10px;
  background: #fff;
  font-weight: 600;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-family: inherit;
}
.btn-info-about:hover{
  color: #ff880e;
  text-decoration: none;
}

.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

#preloader {
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 11000;
	position: fixed;
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
}

.loader {
    display: block;
    flex-wrap: wrap;
    width: 20rem;
    height: auto;
}

.loader img {
    width: 100%;
    height: auto;
}

.grafics{
  text-align: center;
  box-sizing: content-box;
}

.short{
  color: black;
  font-weight: bold;
  padding-right: 3px;
}

#exchange{
  background-color: #fff;
 border: 2px solid #ecf0f1;
 border-radius: 50%;
 cursor: pointer;
 color: #f59300;
 font-size: 18px;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 30px;
 width: 30px;
 transform: rotate(90deg);
 margin-left: 200px;
}

@media screen and (min-width: 676px) {
  .modal-dialog {
    max-width: 700px;
  }
}